In [5]:
# Necessary Imports
import pickle
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# Load Hull Proportions From Disk
EXPERIMENT_DIR = Path('./experiments/embed_dim_64/n_heads_32')
q_hulls = {}
k_hulls = {}

for path in EXPERIMENT_DIR.glob('*/q-hull-props-*'):
    with path.open('rb') as q_hull_file:
        q_hulls[path.parts[-2]] = pd.DataFrame(pickle.load(q_hull_file))

for path in EXPERIMENT_DIR.glob('*/k-hull-props-*'):
    with path.open('rb') as k_hull_file:
        k_hulls[path.parts[-2]] = pd.DataFrame(pickle.load(k_hull_file))

In [7]:
q_hulls['base'].describe()

                3           4
count  527.000000  527.000000
mean     0.024030    0.025064
std      0.003812    0.003704
min      0.013672    0.015625
25%      0.021484    0.023438
50%      0.023438    0.025391
75%      0.027344    0.027344
max      0.035156    0.035156

In [8]:
k_hulls['base'].describe()

                3           4
count  527.000000  527.000000
mean     0.026999    0.032162
std      0.004067    0.004460
min      0.015625    0.021484
25%      0.023438    0.029297
50%      0.027344    0.033203
75%      0.029297    0.035156
max      0.041016    0.046875

In [9]:
q_hulls['euc'].describe()

                2           3           4           5
count  527.000000  527.000000  527.000000  527.000000
mean     0.030453    0.025628    0.022989    0.025365
std      0.005467    0.003736    0.003556    0.003632
min      0.017578    0.017578    0.013672    0.013672
25%      0.027344    0.023438    0.021484    0.023438
50%      0.029297    0.025391    0.023438    0.025391
75%      0.035156    0.027344    0.025391    0.027344
max      0.050781    0.037109    0.035156    0.039062

In [10]:
k_hulls['euc'].describe()

                2           3           4           5
count  527.000000  527.000000  527.000000  527.000000
mean     0.034552    0.029612    0.022081    0.024661
std      0.004981    0.004322    0.003899    0.004028
min      0.021484    0.019531    0.011719    0.013672
25%      0.031250    0.027344    0.019531    0.021484
50%      0.035156    0.029297    0.021484    0.023438
75%      0.037109    0.032227    0.025391    0.027344
max      0.050781    0.044922    0.037109    0.039062